william-wennerstrom_front_720.png filter=lfs diff=lfs merge=lfs -text
william-wennerstrom_front_full.png filter=lfs diff=lfs merge=lfs -text
william-wennerstrom_side_720.png filter=lfs diff=lfs merge=lfs -text
william-wennerstrom_side_full.png filter=lfs diff=lfs merge=lfs -text
